@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.block-container {
		@apply mx-auto mt-10 mb-10 flex w-2/3 flex-col items-center justify-center rounded-2xl bg-gray-800;
	}

	.codes-container {
		@apply container mt-10 mb-10 w-2/3 rounded-2xl bg-gray-800;
	}

	.buttoni {
		@apply mb-6 flex w-48 transform flex-row items-center justify-center rounded-2xl border-2 bg-white py-3 px-10 text-xl font-medium text-black duration-200 ease-in hover:bg-transparent hover:text-white;
	}

	.button {
		@apply mt-3 mb-6 flex w-64 transform flex-row items-center justify-center rounded-2xl border-2 bg-white py-3 px-10 text-xl font-medium text-black duration-200 ease-in hover:bg-transparent hover:text-white;
	}

	.input {
		@apply mt-3 mb-6 flex transform flex-row items-center justify-center rounded-2xl border-2 bg-white py-3 px-10 text-center text-xl font-medium text-black duration-200 ease-in hover:bg-transparent hover:text-white;
	}
}

@layer base {
	button {
		@apply focus-visible:ring-popup-magenta focus-visible:ring-4;
	}

	h2 {
		@apply focus-visible:ring-popup-magenta focus-visible:rounded-2xl focus-visible:ring-4;
	}

	.link {
		@apply focus-visible:ring-popup-magenta focus-visible:rounded-2xl focus-visible:ring-4;
	}
}

h1 {
	font-size: 64px;
	font-weight: bold;
}

h2 {
	font-size: 48px;
	font-weight: bold;
}

h3 {
	font-size: 32px;
	font-weight: bold;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

body {
	color: white;
	background-color: rgb(10, 10, 10);
	overflow-y: scroll !important;
	user-select: none;
}

* {
	outline: none !important;
}

hr {
	margin: 1.5rem;
	color: white;
	width: 100%;
	padding: 0;
}

::-webkit-scrollbar-track {
	background-color: black;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar-corner {
	background: #292a2d;
}

::selection {
	color: white;
	background: gray;
}

.progress {
	top: -30px;
	position: relative;
	width: 73%;
	height: 15px;
	background: rgb(30, 30, 30);
	border-radius: 30px;
	overflow: hidden;
}

.progress__fill {
	width: 0%;
	height: 100%;
	background: white;
	transition: all 0.2s;
}

svg {
	margin-right: 3px !important;
}

/* inputs */
.input::placeholder {
	transition: 0.2s ease-in;
	color: black;
}

.input:focus::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

.input:hover::placeholder {
	transition: 0.2s ease-in;
	color: transparent;
}

input::-ms-reveal,
input::-ms-clear {
	display: none;
}

.toggle:checked ~ .toggle-bg {
	background-color: black !important;
	transition: 0.2s ease-in;
}

.toggle:checked {
	right: 4px !important;
}
